@import "colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: @bg;
    color: @fg;
    padding: 0px;
    margin: 0px;
}

#workspaces button {
    color: @ws-inactive;
    padding: 0 8px;
}

#workspaces button:hover {
    color: @ws-hover-fg;
    background: @ws-hover-bg;
}

#workspaces button.active {
    color: @ws-active-fg;
    background: @ws-active-bg;
}

#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#battery,
#tray,
#custom-theme,
#custom-power {
    margin: 4px;
    padding: 0 10px;
    background: @module-bg;
    border-radius: 0px;
}
#language {
  min-width: 12px;
  margin: 0 7.5px;
}
#workspaces,
#custom-layout,
#backlight,
#custom-theme,
#custom-power {
    margin-right: 16px;
}
